* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
.main{
  height: 100%;
  width: 100%;
  position: relative;}

.nav{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  border-bottom: 2px solid lightseagreen;
}
.nav-part2{
  display: flex;
   gap: 4vw;
   font-family: sans-serif;
}
.nav h2 {
  font-size: 3vw;
}
.nav h4{
  font-size: 1.5vw;
}
.nav i {
  font-size: 1.5vw;
  flex-wrap: 800;
  display: none;
}
.content{
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  position: relative;
}
.left{
  height: 100%;
  width: 55%;
  padding: 5vw 4vw;
}
.left h1{
  font-size: 4.2vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
  line-height: 4.4vw;
}
.left h1 span{
  color: lightseagreen;
}
.left p {
  font-size: 1.52vw;
  font-weight: 800;
  color: #3d3b3b;
  width: 80%;
  margin-top: 3vw;
  margin-bottom: 4vw;
}
.span1{
  color: lightseagreen;
  font-size:2vw ;
}
button{
  font-size: 1vw;
  background-color: lightseagreen;
  color: white;
  border: none;
  padding: 1vw 3vw;
  border-radius: 3px;
  font-weight: 700;
}
.right{
  height: 100%;
  width: 45%;
}
.right img{
height: 100%;
width: 100%;
}

.section-1{
  width: 100%;
  height: 100%;
}
.section-2{
  width: 100%;
  height: 100%;
}
.content-2{
  width: 100%;
  height: 100%;
  display: flex;
}
.content-2-right{
width: 50%;
height: 100%;
}
.content-2-right img{
  width: 100%;
  height: 100%;
}
.content-2-left{
width: 50%;
height: 100%;
padding: 5vw;
}
.content-2-left h1{
  font-size: 5.3vw;
  font-family: poppins;
  line-height: 13vh;
  background: linear-gradient(to right, #c119c4, #4e24ce, #083199, #4024af, #951897);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.web-h1-sideheading{
  font-size: 2vw;
  color: black;
}
.content-2-left p{
  font-size: 1.3vw;
  width: 93%;
  line-height: 4vh;
  font-weight: 550;
  font-family: sans-serif;
  color: rgb(116, 108, 108);
}
.enroll-1{
  margin-top: 3vw;
  font-size: 3vw;
}
.section-2{
  width: 100%;
  height: 100%;
  position: relative;
}
.center-heading{
  display: inline-block;
  border-bottom: 2px solid lightseagreen;
  margin-left: 46vw;
  font-size:4vw;
}
.content-3{
  width: 100%;
  height: 100%;
  display: flex;
}
.content-3-left{
height: 100%;
width: 50%;
padding: 5vw;
padding-top:6vw;
}
.content-3-right{
height: 100%;
width: 50%;
}
.content-3-right img{
  height: 100%;
  width: 100%;
}
.content-3-left h1{
  font-size: 5vw;
  font-family: poppins;
  line-height: 12vh;
}
.content-3-left h1 span {
  font-size:6vw ;
  color: red;
}
.content-3-left p{
  margin-top: 1.5vw;
  font-size: 1.9vw;
}
.content-3-left span{
  font-size:1.7vw;
  font-weight: 580;
  font-family: sans-serif;
  color: crimson;
}
.link{
  font-size: 2vw;
}
.section-3{
  width: 100%;
  height: 100%;
  position: relative;
}
.content-4-p{
  height: 8%;
  margin-top: 2vw;
  font-weight: bold;
  color: purple;
  font-size: 3vw;
  display: inline-block;
  border-bottom: 2px solid lightseagreen;
  margin-left: 40vw;
}
.content-4-box{
  width: 100%;
  height:calc(100% - 8%);
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
}
.content-box-1{
  width: 23vw;
  height: 23vw;
  font-size: 4vw;
  color:#333333;
  font-weight: bolder;
  background-color: #B0C4DE;
  padding-top:5vw;
  padding-left: 5vw;
  border-radius: 50%;
}
.content-box-1 p{
  font-size: 1.5vw;
  padding-left: 2vw;
  font-weight: bold;
}


.content-box-2{
  width: 23vw;
  height: 23vw;
  background-color: #f8d2ce;
  border-radius: 50%;
  padding-top: 4vw;
}
.content-box-2 p{
line-height: 4vh;
font-size: 1.3vw;
text-align: center;
}
.content-box-2 h5{
  font-size:1.8vw;
  padding-left: 5vw;
}
.content-box-3{
  width: 23vw;
  height: 23vw;
  background-color:#B0C4DE;
  border-radius: 50%;
  padding-left: 7vw;
  padding-top: 5vh;
}
.content-box-4{
  width: 23vw;
  height: 23vw;
  background-color: #f8d2ce;
  border-radius: 50%;
  padding-left: 3.8vw;
  padding-top: 3.5vw;
}

.section-4{
  height: 180%;
  width: 100%;
}
.section-4 h1{
  margin-left: 40vw;
  font-size: 6vw;
  color: coral;
}
.section-5{
  width: 100%;
  height: 50%;
  position: relative;
  background-color: black;
}
.content-5{
  width: 100%;
  height: 50%;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-evenly;
  padding-left: 8vw;
  padding-top: 5vw;
}
.content-5-right{
  width: 50%;
  height: 50%;
  margin-left: 20vw;

}
.content-5-left{
  width: 50%;
  height: 50%;
}
.content-5-left h1{
  color: rgba(240, 213, 58, 0.719);
  font-size: 5vw;
}
.content-5-left p{
  color: white;
}
.content-5-left i{
 font-size: 3vw;
 color: white;
}
.content-5-right h1{
  font-size: 4vw;
  color: white;
  font-weight: bold;
}
.content-5-right i{
  color: red;
}
@media (max-width:600px) {
  
  .nav h2{
  padding: 0;
  margin: 0;
}
 .nav{
  background-color: lightseagreen;
   height: 60px;
}
.nav button{
  display: none;
}
.nav h2{
  font-size:6vw ;
}
.nav h4{
  font-size: 4vw;
  display: none;
}
.nav i{
  display: block;
  font-size: 6vw;
}
.content{
height: calc(100% - 60px);
flex-direction: column;
}
.content-2{
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.content-3{
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.center-heading{
  font-size: 6vw;
}
.left{
width: 100%;
height: 50%;
padding: 4vw;
}
.right{
width: 100%;
height: 50%;
}
.content-2-left{
width: 100%;
height: 50%;
}
.content-2-right img{
  height: 90%;
  width: 100%;
}
.content-2-right{
  width: 100%;
  height: 50%;
}
.content-3-left{
  height: 33%;
  width: 100%;
  }
  .content-3-right{
    margin-top: 0vh;
    height: 100%;
    width: 100%;
    }
.left h1 {
font-size: 10vw;
line-height: 11vw;
}
.content-2-left h1{
  font-size: 9vw;
  line-height: 4vh;
}
.content-3-left h1{
  font-size: 8vw;
  line-height: 7vh;
}
.content-3-left h1 span{
  font-size:11vw ;
}
.left p {
font-size: 4vw;
width: 90%;
margin-top: 3vw;
margin-bottom: 4vw;
}
.content-2-left p{
font-size: 4vw;
line-height:2.7vh;
width: 100%;
}
.content-2-left button{
  padding: 6vw, 6vw;
  font-size: 1.5vw;
}
.content-3-left p{
  font-size: 3.8vw;
  color: rgb(207, 59, 21);
  font-family: sans-serif;
  font-weight: bold;
  line-height: 2vh;
}
.left button {
padding: 3vw 6vw;
font-size: 2vw;
}
.content-3-left span{
  font-size: 6vw;
  color: royalblue;
  line-height: 3vh;
}
.span-gap{
  margin-top: 2vw;
}
.content-3-left a{
  font-size: 5vw;
}
.section-3{
  width: 100%;
  height: 100%;
  position: relative;
}
.content-4-p{
  font-size: 7vw;
  margin-left: 28vw;
  height: 6%;
}
.content-4-box{
  width: 100%;
  height: calc(100% - 6%);
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}
.content-box-1{
  width: 40vw;
  height: 40vw;
  padding: 6vw;
  padding-left: 12vw;
  padding-top: 10vw;
}
.content-box-1 p{
font-size: 3vw;
}

.content-box-2{
  width: 40vw;
  height: 40vw;
  padding-top:3vh ;
}
.content-box-2 p{
  line-height: 1.8vh;
  font-size: 2vw;
}
.content-box-2 h5{
  padding-left: 10.5vw;
  font-size: 2.5vw;
  font-weight: bold;
}


.content-box-3{
  width: 40vw;
  height: 40vw;
  padding-top: 2vw;
  padding-left: 13vw;
}
.content-box-3 h5{
  font-size: 2.5vw;
}
.content-box-4{
  width: 40vw;
  height: 40vw;
  padding-left: 10vw;
  padding-top: 4vh;
}
.content-box-3 p{
  font-size: 2vw;
}
.content-box-4 p{
font-size: 2vw;
line-height: 1vh;
}
.content-box-4 h5{
  font-size: 2.3vw;
}
.section-4{
  height: 400%;
  width: 100%;
  margin-top: 7vh;
}
.section-5{
  margin-top:5vh;
  height: 70%;
  width: 100%;
  background-color: black;
}
.content-5{
  width: 100%;
  height: 50%;  
  display: flex;
  flex-direction: column;
}
.content-5-left{
  width: 100%;
  padding-top: 0;
}
.content-5-left h1{
  font-size: 8vw;
}
.content-5-left i {
  font-size: 5vw;
}
.content-5-right{
  margin: 0vw;
  width: 50%;
  padding-top:10vh;
}
.content-5-right h1{
  font-size: 10vw;
}
}



